.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  .header__left {
    flex: 1;
  }
  .header__middle {
    flex: 1;
    a {
      .header__middle-img {
        cursor: pointer;
      }
    }
  }
  .header__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    a {
       color:black;
      .header__right-icon {
        font-size: 2.6rem;
        margin-left: 20px;
        cursor: pointer;
      }
      span {
        position: absolute;
        top: -6px;
        right: -6px;
        font-size: 1rem;
        width: 16px;
        height: 16px;
        background-color: rgba(8, 8, 209);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: white;
      }
    }
  }
}
